body {
        background: gray !important;
        background-repeat:no-repeat;
        margin: 10px auto;
        padding:20px 20px 20px 20px;
        font-family: Arial;
}

.container-fluid {
        background-color: #bbb;
        word-wrap: break-word;
}

.row:hover {
        background-color: #ddd;
}

.search {
        width: 60%;
}