 <html>
	<title>About Me</title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
	</head>
    <body>
        <center>
            <p class="display-1">Google Books Search</p>
            <div class="search">
                <form method="POST" id="search-query">
                    {% csrf_token %}

                    {{ searchbar }}
                    <br>
                    <button class="btn btn-primary" type="submit" id ='submit'><font class="h3">Submit</font></button>
                </form>
            </div>
            <div class="container-fluid" id="search-result">
                <div class="row">
                    <div class="col-1 text-center"><p class="h2">Image</p></div>
                    <div class="col-3 text-center"><p class="h2">Title</p></div>
                    <div class="col-2 text-center"><p class="h2">Author</p></div>
                    <div class="col-6 text-center"><p class="h2">Description</p></div>
                </div>
            </div>
        </center>

        <!-- Javascript -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/story.js' %}"></script>
    </body>     
</html>
